Repository plexinc/pms-docker, pull requests merged in 2024-12, with the labels that each got.

#116 added externalTrafficPolicy to service
  charts/plex-media-server/Chart.yaml
  charts/plex-media-server/templates/service.yaml
  charts/plex-media-server/values.yaml
Labels: enhancement

#117 Added liveness and readiness probe to pms container
  charts/plex-media-server/Chart.yaml
  charts/plex-media-server/README.md
  charts/plex-media-server/templates/statefulset.yaml
  charts/plex-media-server/values.yaml
Labels: enhancement, chart: minor

#118 Fix incorrect nesting of liveness and readiness probes
  charts/plex-media-server/Chart.yaml
  charts/plex-media-server/templates/statefulset.yaml
Labels: chart: patch

#114 feat: switch doc generation to use helm-docs and add a workflow to auto bump the chart version on pr approval
  .github/workflows/lint-test.yaml
  charts/plex-media-server/Chart.yaml
  charts/plex-media-server/README.md
  charts/plex-media-server/README.md.gotmpl
  charts/plex-media-server/values.yaml
Labels: enhancement, chart: patch
